<div class="app">
  <header>
    <div class="container">
      <div class="logo">
        <h1>💸 FairPay</h1>
        <p>Blind Salary Negotiation</p>
      </div>

      <nav>
        <a routerLink="/list" routerLinkActive="active">My Negotiations</a>
        <a routerLink="/create" routerLinkActive="active">Create New</a>
      </nav>

      <app-wallet></app-wallet>
    </div>
  </header>

   <div *ngIf="negotiation$ | async as n">
      <h3>{{ n.title }}</h3>
      <p>State: {{ n.state }}</p>
      <p>Employer: {{ n.employer }}</p>
      <p>Candidate: {{ n.candidate }}</p>
      <p>Meeting Point: {{ n.meetingPoint }}</p>
      <p *ngIf="n.lastError">⚠️ Error: {{ n.lastError }}</p>
    </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>Powered by Zama FHE • Sepolia Testnet</p>
  </footer>
</div>




<!-- <router-outlet /> -->
